#image {
   display: block;
   width: 500px;
   height: 500px;
   max-width: 100%;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
}

#output {
   margin: 0 5px;
   width: 300px;
   height: 300px;
}